.home {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 25rem;
    border: .625rem;
    border-radius: 1.25rem;
    border-color: black;
    background-color: #6c25be;
}

.home header {
    position: relative;
    top: 0;
    text-align: center;
}

.home div {
    margin-top: .625rem;
    margin-bottom: .625rem;
    text-align: center;
}

.home button {
    margin: 1.875rem;
    height: 3.125rem;
    width: 3.125rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home img {
    width: 3.125rem;
}